core/src/main/resources/properties/ClinCapture_Rest_ODM1-3-0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="http://www.cdisc.org/ns/odm/v1.3" xmlns="http://www.cdisc.org/ns/odm/v1.3" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:redefine schemaLocation="ODM1-3-0-foundation.xsd">
        <xs:group name="ODMElementExtension">
            <xs:sequence>
                <xs:group ref="ODMElementExtension"/>
                <xs:element ref="Server" minOccurs="0"/>
                <xs:element ref="RestData" minOccurs="0"/>
            </xs:sequence>
        </xs:group>
    </xs:redefine>

    <xs:element name="Server" type="server"/>

    <xs:complexType name="server">
        <xs:sequence>
            <xs:element ref="Version" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RestData" type="restData"/>

    <xs:complexType name="restData">
        <xs:sequence>
            <xs:element ref="StudyBean" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="CrfVersion" minOccurs="0"/>
            <xs:element ref="EventDefinitionCrf" minOccurs="0"/>
            <xs:element ref="StudyEventDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="UserAccount" minOccurs="0"/>
            <xs:element ref="UserDetails" minOccurs="0"/>
            <xs:element ref="Error" minOccurs="0"/>
            <xs:element ref="Response" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Response" type="response"/>

    <xs:complexType name="response">
        <xs:sequence>
            <xs:element ref="Status" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Error" type="error"/>

    <xs:element name="Message" type="xs:string"/>

    <xs:complexType name="error">
        <xs:sequence>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="Message" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserDetails" type="userDetails"/>

    <xs:element name="UserName" type="xs:string"/>
    <xs:element name="Password" type="xs:string"/>
    <xs:element name="UserType" type="xs:string"/>
    <xs:element name="Status" type="xs:string"/>
    <xs:element name="UserStatus" type="xs:string"/>
    <xs:element name="StudyStatus" type="xs:string"/>

    <xs:complexType name="userDetails">
        <xs:sequence>
            <xs:element ref="UserName" minOccurs="0"/>
            <xs:element ref="UserStatus" minOccurs="0"/>
            <xs:element ref="StudyName" minOccurs="0"/>
            <xs:element ref="StudyStatus" minOccurs="0"/>
            <xs:element ref="Role" minOccurs="0"/>
            <xs:element ref="UserType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserAccount" type="userAccountBean"/>

    <xs:element name="AllowSoap" type="xs:boolean"/>
    <xs:element name="Company" type="xs:string"/>
    <xs:element name="Id" type="xs:int"/>
    <xs:element name="TimeZone" type="xs:string"/>
    <xs:element name="Scope" type="xs:int"/>

    <xs:complexType name="userAccountBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="UserName" minOccurs="0"/>
            <xs:element ref="Role" minOccurs="0"/>
            <xs:element ref="UserType" minOccurs="0"/>
            <xs:element ref="Password" minOccurs="0"/>
            <xs:element ref="FirstName" minOccurs="0"/>
            <xs:element ref="LastName" minOccurs="0"/>
            <xs:element ref="Email" minOccurs="0"/>
            <xs:element ref="Company" minOccurs="0"/>
            <xs:element ref="Phone" minOccurs="0"/>
            <xs:element ref="AllowSoap" minOccurs="0"/>
            <xs:element ref="TimeZone" minOccurs="0"/>
            <xs:element ref="Scope" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StudyEventDefinition" type="studyEventDefinitionBean"/>

    <xs:element name="EventName" type="xs:string"/>
    <xs:element name="EventDescription" type="xs:string"/>
    <xs:element name="Repeating" type="xs:boolean"/>
    <xs:element name="Category" type="xs:string"/>
    <xs:element name="EventType" type="xs:string"/>
    <xs:element name="Oid" type="xs:string"/>
    <xs:element name="MinDay" type="xs:int"/>
    <xs:element name="MaxDay" type="xs:int"/>
    <xs:element name="EmailDay" type="xs:int"/>
    <xs:element name="SchDay" type="xs:int"/>
    <xs:element name="UserEmailId" type="xs:int"/>
    <xs:element name="IsReference" type="xs:boolean"/>

    <xs:complexType name="studyEventDefinitionBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="EventName" minOccurs="0"/>
            <xs:element ref="EventDescription" minOccurs="0"/>
            <xs:element ref="Repeating" minOccurs="0"/>
            <xs:element ref="Category" minOccurs="0"/>
            <xs:element ref="EventType" minOccurs="0"/>
            <xs:element ref="Oid" minOccurs="0"/>
            <xs:element ref="MinDay" minOccurs="0"/>
            <xs:element ref="MaxDay" minOccurs="0"/>
            <xs:element ref="EmailDay" minOccurs="0"/>
            <xs:element ref="SchDay" minOccurs="0"/>
            <xs:element ref="UserEmailId" minOccurs="0"/>
            <xs:element ref="IsReference" minOccurs="0"/>
            <xs:element ref="EventDefinitionCrf" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EventDefinitionCrf" type="eventDefinitionCRFBean"/>

    <xs:element name="CrfName" type="xs:string"/>
    <xs:element name="DefaultVersion" type="xs:string"/>
    <xs:element name="HideCrf" type="xs:boolean"/>
    <xs:element name="Required" type="xs:boolean"/>
    <xs:element name="PasswordRequired" type="xs:boolean"/>
    <xs:element name="AcceptNewCrfVersions" type="xs:boolean"/>
    <xs:element name="EvaluatedCrf" type="xs:boolean"/>
    <xs:element name="DoubleDataEntry" type="xs:boolean"/>
    <xs:element name="SourceDataVerification" type="xs:string"/>
    <xs:element name="TabbingMode" type="xs:string"/>
    <xs:element name="Ordinal" type="xs:int"/>
    <xs:element name="StudyId" type="xs:int"/>
    <xs:element name="EmailWhen" type="xs:string"/>
    <xs:element name="ParentId" type="xs:int"/>
    <xs:element name="AvailableVersionIds" type="xs:string"/>

    <xs:complexType name="eventDefinitionCRFBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="EventName" minOccurs="0"/>
            <xs:element ref="CrfName" minOccurs="0"/>
            <xs:element ref="DefaultVersion" minOccurs="0"/>
            <xs:element ref="HideCrf" minOccurs="0"/>
            <xs:element ref="Required" minOccurs="0"/>
            <xs:element ref="PasswordRequired" minOccurs="0"/>
            <xs:element ref="AcceptNewCrfVersions" minOccurs="0"/>
            <xs:element ref="EvaluatedCrf" minOccurs="0"/>
            <xs:element ref="DoubleDataEntry" minOccurs="0"/>
            <xs:element ref="SourceDataVerification" minOccurs="0"/>
            <xs:element ref="TabbingMode" minOccurs="0"/>
            <xs:element ref="Ordinal" minOccurs="0"/>
            <xs:element ref="StudyId" minOccurs="0"/>
            <xs:element ref="EmailWhen" minOccurs="0"/>
            <xs:element ref="Email" minOccurs="0"/>
            <xs:element ref="ParentId" minOccurs="0"/>
            <xs:element ref="AvailableVersionIds" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CrfVersion" type="crfVersionBean"/>

    <xs:element name="CrfId" type="xs:int"/>
    <xs:element name="Version" type="xs:string"/>

    <xs:complexType name="crfVersionBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="CrfId" minOccurs="0"/>
            <xs:element ref="CrfName" minOccurs="0"/>
            <xs:element ref="Version" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StudyBean" type="studyBean"/>

    <xs:element name="Origin" type="xs:string"/>
    <xs:element name="BriefTitle" type="xs:string"/>
    <xs:element name="ProtocolId" type="xs:string"/>
    <xs:element name="ProtocolType" type="xs:string"/>
    <xs:element name="SecondaryIDs" type="xs:string"/>
    <xs:element name="OfficialTitle" type="xs:string"/>
    <xs:element name="Summary" type="xs:string"/>
    <xs:element name="DetailedDescription" type="xs:string"/>
    <xs:element name="PrincipalInvestigator" type="xs:string"/>
    <xs:element name="Sponsor" type="xs:string"/>
    <xs:element name="Collaborators" type="xs:string"/>
    <xs:element name="Phase" type="xs:string"/>
    <xs:element name="TotalEnrollment" type="xs:string"/>
    <xs:element name="StartDate" type="xs:string" nillable="true"/>
    <xs:element name="EndDate" type="xs:string" nillable="true"/>
    <xs:element name="ApprovalDate" type="xs:string" nillable="true"/>
    <xs:element name="Purpose" type="xs:string"/>
    <xs:element name="Allocation" type="xs:string"/>
    <xs:element name="Masking" type="xs:string"/>
    <xs:element name="Control" type="xs:string"/>
    <xs:element name="InterventionModel" type="xs:string"/>
    <xs:element name="Classification" type="xs:string"/>
    <xs:element name="Duration" type="xs:string"/>
    <xs:element name="Selection" type="xs:string"/>
    <xs:element name="Timing" type="xs:string"/>
    <xs:element name="FacilityName" type="xs:string"/>
    <xs:element name="FacilityCity" type="xs:string"/>
    <xs:element name="FacilityState" type="xs:string"/>
    <xs:element name="FacilityZip" type="xs:string"/>
    <xs:element name="FacilityCountry" type="xs:string"/>
    <xs:element name="FacilityContactName" type="xs:string"/>
    <xs:element name="FacilityContactDegree" type="xs:string"/>
    <xs:element name="FacilityContactPhone" type="xs:string"/>
    <xs:element name="FacilityContactEmail" type="xs:string"/>

    <xs:complexType name="studyBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="StudyName" minOccurs="0"/>
            <xs:element ref="Origin" minOccurs="0"/>
            <xs:element ref="BriefTitle" minOccurs="0"/>
            <xs:element ref="OfficialTitle" minOccurs="0"/>
            <xs:element ref="ProtocolId" minOccurs="0"/>
            <xs:element ref="SecondaryIDs" minOccurs="0"/>
            <xs:element ref="Summary" minOccurs="0"/>
            <xs:element ref="StartDate" minOccurs="0"/>
            <xs:element ref="EndDate" minOccurs="0"/>
            <xs:element ref="PrincipalInvestigator" minOccurs="0"/>
            <xs:element ref="ProtocolType" minOccurs="0"/>
            <xs:element ref="DetailedDescription" minOccurs="0"/>
            <xs:element ref="ApprovalDate" minOccurs="0"/>
            <xs:element ref="Phase" minOccurs="0"/>
            <xs:element ref="TotalEnrollment" minOccurs="0"/>
            <xs:element ref="Sponsor" minOccurs="0"/>
            <xs:element ref="Collaborators" minOccurs="0"/>
            <xs:element ref="Purpose" minOccurs="0"/>
            <xs:element ref="Allocation" minOccurs="0"/>
            <xs:element ref="Masking" minOccurs="0"/>
            <xs:element ref="Control" minOccurs="0"/>
            <xs:element ref="InterventionModel" minOccurs="0"/>
            <xs:element ref="Classification" minOccurs="0"/>
            <xs:element ref="Duration" minOccurs="0"/>
            <xs:element ref="Selection" minOccurs="0"/>
            <xs:element ref="Timing" minOccurs="0"/>
            <xs:element ref="FacilityName" minOccurs="0"/>
            <xs:element ref="FacilityCity" minOccurs="0"/>
            <xs:element ref="FacilityState" minOccurs="0"/>
            <xs:element ref="FacilityZip" minOccurs="0"/>
            <xs:element ref="FacilityCountry" minOccurs="0"/>
            <xs:element ref="FacilityContactName" minOccurs="0"/>
            <xs:element ref="FacilityContactDegree" minOccurs="0"/>
            <xs:element ref="FacilityContactPhone" minOccurs="0"/>
            <xs:element ref="FacilityContactEmail" minOccurs="0"/>
            <xs:element ref="Oid" minOccurs="0"/>
            <xs:element ref="Parameters" minOccurs="0"/>
            <xs:element ref="Features" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Features" type="features"/>

    <xs:element name="CRFAnnotation" type="xs:string"/>
    <xs:element name="DynamicGroup" type="xs:string"/>
    <xs:element name="CalendaredVisits" type="xs:string"/>
    <xs:element name="InteractiveDashboards" type="xs:string"/>
    <xs:element name="ItemLevelSDV" type="xs:string"/>
    <xs:element name="SubjectCasebookInPDF" type="xs:string"/>
    <xs:element name="CRFMasking" type="xs:string"/>
    <xs:element name="SASExtracts" type="xs:string"/>
    <xs:element name="StudyEvaluator" type="xs:string"/>
    <xs:element name="Randomization" type="xs:string"/>
    <xs:element name="MedicalCoding" type="xs:string"/>

    <xs:complexType name="features">
        <xs:sequence>
            <xs:element ref="CRFAnnotation" minOccurs="0"/>
            <xs:element ref="DynamicGroup" minOccurs="0"/>
            <xs:element ref="CalendaredVisits" minOccurs="0"/>
            <xs:element ref="InteractiveDashboards" minOccurs="0"/>
            <xs:element ref="ItemLevelSDV" minOccurs="0"/>
            <xs:element ref="SubjectCasebookInPDF" minOccurs="0"/>
            <xs:element ref="CRFMasking" minOccurs="0"/>
            <xs:element ref="SASExtracts" minOccurs="0"/>
            <xs:element ref="StudyEvaluator" minOccurs="0"/>
            <xs:element ref="Randomization" minOccurs="0"/>
            <xs:element ref="MedicalCoding" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Parameters" type="parameters"/>

    <xs:element name="CollectDob" type="xs:string"/>
    <xs:element name="DiscrepancyManagement" type="xs:string"/>
    <xs:element name="GenderRequired" type="xs:string"/>
    <xs:element name="SubjectPersonIdRequired" type="xs:string"/>
    <xs:element name="InterviewerNameRequired" type="xs:string"/>
    <xs:element name="InterviewerNameDefault" type="xs:string"/>
    <xs:element name="InterviewerNameEditable" type="xs:string"/>
    <xs:element name="InterviewDateRequired" type="xs:string"/>
    <xs:element name="InterviewDateDefault" type="xs:string"/>
    <xs:element name="InterviewDateEditable" type="xs:string"/>
    <xs:element name="SubjectIdGeneration" type="xs:string"/>
    <xs:element name="AutoGeneratedPrefix" type="xs:string"/>
    <xs:element name="AutoGeneratedSeparator" type="xs:string"/>
    <xs:element name="AutoGeneratedSuffix" type="xs:string"/>
    <xs:element name="PersonIdShownOnCRF" type="xs:string"/>
    <xs:element name="SecondaryLabelViewable" type="xs:string"/>
    <xs:element name="AdminForcedReasonForChange" type="xs:string"/>
    <xs:element name="EventLocationRequired" type="xs:string"/>
    <xs:element name="SecondaryIdRequired" type="xs:string"/>
    <xs:element name="StudySubjectIdLabel" type="xs:string"/>
    <xs:element name="SecondaryIdLabel" type="xs:string"/>
    <xs:element name="DateOfEnrollmentForStudyLabel" type="xs:string"/>
    <xs:element name="GenderLabel" type="xs:string"/>
    <xs:element name="StartDateTimeRequired" type="xs:string"/>
    <xs:element name="UseStartTime" type="xs:string"/>
    <xs:element name="EndDateTimeRequired" type="xs:string"/>
    <xs:element name="UseEndTime" type="xs:string"/>
    <xs:element name="StartDateTimeLabel" type="xs:string"/>
    <xs:element name="EndDateTimeLabel" type="xs:string"/>
    <xs:element name="MarkImportedCRFAsCompleted" type="xs:string"/>
    <xs:element name="AllowSdvWithOpenQueries" type="xs:string"/>
    <xs:element name="AllowDynamicGroupsManagement" type="xs:string"/>
    <xs:element name="ReplaceExisitingDataDuringImport" type="xs:string"/>
    <xs:element name="AutoScheduleEventDuringImport" type="xs:string"/>
    <xs:element name="AutoCreateSubjectDuringImport" type="xs:string"/>
    <xs:element name="AllowDiscrepancyCorrectionForms" type="xs:string"/>
    <xs:element name="AutoCodeDictionaryName" type="xs:string"/>
    <xs:element name="MedicalCodingContextNeeded" type="xs:string"/>
    <xs:element name="AssignRandomizationResultTo" type="xs:string"/>
    <xs:element name="RandomizationTrialId" type="xs:string"/>
    <xs:element name="RandomizationEnviroment" type="xs:string"/>
    <xs:element name="EvaluateWithContext" type="xs:string"/>
    <xs:element name="AllowRulesAutoScheduling" type="xs:string"/>
    <xs:element name="AnnotatedCrfSasItemNames" type="xs:string"/>
    <xs:element name="AutoTabbing" type="xs:string"/>
    <xs:element name="ShowYearsInCalendar" type="xs:string"/>
    <xs:element name="InstanceType" type="xs:string"/>

    <xs:complexType name="parameters">
        <xs:sequence>
            <xs:element ref="CollectDob" minOccurs="0"/>
            <xs:element ref="DiscrepancyManagement" minOccurs="0"/>
            <xs:element ref="GenderRequired" minOccurs="0"/>
            <xs:element ref="SubjectPersonIdRequired" minOccurs="0"/>
            <xs:element ref="InterviewerNameRequired" minOccurs="0"/>
            <xs:element ref="InterviewerNameDefault" minOccurs="0"/>
            <xs:element ref="InterviewerNameEditable" minOccurs="0"/>
            <xs:element ref="InterviewDateRequired" minOccurs="0"/>
            <xs:element ref="InterviewDateDefault" minOccurs="0"/>
            <xs:element ref="InterviewDateEditable" minOccurs="0"/>
            <xs:element ref="SubjectIdGeneration" minOccurs="0"/>
            <xs:element ref="AutoGeneratedPrefix" minOccurs="0"/>
            <xs:element ref="AutoGeneratedSeparator" minOccurs="0"/>
            <xs:element ref="AutoGeneratedSuffix" minOccurs="0"/>
            <xs:element ref="PersonIdShownOnCRF" minOccurs="0"/>
            <xs:element ref="SecondaryLabelViewable" minOccurs="0"/>
            <xs:element ref="AdminForcedReasonForChange" minOccurs="0"/>
            <xs:element ref="EventLocationRequired" minOccurs="0"/>
            <xs:element ref="SecondaryIdRequired" minOccurs="0"/>
            <xs:element ref="StudySubjectIdLabel" minOccurs="0"/>
            <xs:element ref="SecondaryIdLabel" minOccurs="0"/>
            <xs:element ref="DateOfEnrollmentForStudyLabel" minOccurs="0"/>
            <xs:element ref="GenderLabel" minOccurs="0"/>
            <xs:element ref="StartDateTimeRequired" minOccurs="0"/>
            <xs:element ref="UseStartTime" minOccurs="0"/>
            <xs:element ref="EndDateTimeRequired" minOccurs="0"/>
            <xs:element ref="UseEndTime" minOccurs="0"/>
            <xs:element ref="StartDateTimeLabel" minOccurs="0"/>
            <xs:element ref="EndDateTimeLabel" minOccurs="0"/>
            <xs:element ref="MarkImportedCRFAsCompleted" minOccurs="0"/>
            <xs:element ref="AllowSdvWithOpenQueries" minOccurs="0"/>
            <xs:element ref="AllowDynamicGroupsManagement" minOccurs="0"/>
            <xs:element ref="ReplaceExisitingDataDuringImport" minOccurs="0"/>
            <xs:element ref="AutoScheduleEventDuringImport" minOccurs="0"/>
            <xs:element ref="AutoCreateSubjectDuringImport" minOccurs="0"/>
            <xs:element ref="AllowDiscrepancyCorrectionForms" minOccurs="0"/>
            <xs:element ref="AutoCodeDictionaryName" minOccurs="0"/>
            <xs:element ref="MedicalCodingContextNeeded" minOccurs="0"/>
            <xs:element ref="AssignRandomizationResultTo" minOccurs="0"/>
            <xs:element ref="RandomizationTrialId" minOccurs="0"/>
            <xs:element ref="RandomizationEnviroment" minOccurs="0"/>
            <xs:element ref="EvaluateWithContext" minOccurs="0"/>
            <xs:element ref="AllowRulesAutoScheduling" minOccurs="0"/>
            <xs:element ref="AnnotatedCrfSasItemNames" minOccurs="0"/>
            <xs:element ref="AutoTabbing" minOccurs="0"/>
            <xs:element ref="ShowYearsInCalendar" minOccurs="0"/>
            <xs:element ref="InstanceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

