core/src/main/resources/properties/ClinCapture_Rest_ODM1-3-0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="http://www.cdisc.org/ns/odm/v1.3" xmlns="http://www.cdisc.org/ns/odm/v1.3" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:redefine schemaLocation="ODM1-3-0-foundation.xsd">
        <xs:group name="ODMElementExtension">
            <xs:sequence>
                <xs:group ref="ODMElementExtension"/>
                <xs:element ref="Server" minOccurs="0"/>
                <xs:element ref="RestData" minOccurs="0"/>
            </xs:sequence>
        </xs:group>
    </xs:redefine>

    <xs:element name="Server" type="server"/>

    <xs:complexType name="server">
        <xs:sequence>
            <xs:element ref="Version" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RestData" type="restData"/>

    <xs:complexType name="restData">
        <xs:sequence>
            <xs:element ref="StudyBean" minOccurs="0"/>
            <xs:element ref="CrfVersion" minOccurs="0"/>
            <xs:element ref="EventDefinitionCrf" minOccurs="0"/>
            <xs:element ref="StudyEventDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="UserAccount" minOccurs="0"/>
            <xs:element ref="UserDetails" minOccurs="0"/>
            <xs:element ref="Error" minOccurs="0"/>
            <xs:element ref="Response" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Response" type="response"/>

    <xs:complexType name="response">
        <xs:sequence>
            <xs:element ref="Status" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Error" type="error"/>

    <xs:element name="Message" type="xs:string"/>

    <xs:complexType name="error">
        <xs:sequence>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="Message" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserDetails" type="userDetails"/>

    <xs:element name="UserName" type="xs:string"/>
    <xs:element name="Password" type="xs:string"/>
    <xs:element name="UserType" type="xs:string"/>
    <xs:element name="Status" type="xs:string"/>
    <xs:element name="UserStatus" type="xs:string"/>
    <xs:element name="StudyStatus" type="xs:string"/>

    <xs:complexType name="userDetails">
        <xs:sequence>
            <xs:element ref="UserName" minOccurs="0"/>
            <xs:element ref="UserStatus" minOccurs="0"/>
            <xs:element ref="StudyName" minOccurs="0"/>
            <xs:element ref="StudyStatus" minOccurs="0"/>
            <xs:element ref="Role" minOccurs="0"/>
            <xs:element ref="UserType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="UserAccount" type="userAccountBean"/>

    <xs:element name="AllowSoap" type="xs:boolean"/>
    <xs:element name="Company" type="xs:string"/>
    <xs:element name="Id" type="xs:int"/>
    <xs:element name="TimeZone" type="xs:string"/>
    <xs:element name="Scope" type="xs:int"/>

    <xs:complexType name="userAccountBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="UserName" minOccurs="0"/>
            <xs:element ref="Role" minOccurs="0"/>
            <xs:element ref="UserType" minOccurs="0"/>
            <xs:element ref="Password" minOccurs="0"/>
            <xs:element ref="FirstName" minOccurs="0"/>
            <xs:element ref="LastName" minOccurs="0"/>
            <xs:element ref="Email" minOccurs="0"/>
            <xs:element ref="Company" minOccurs="0"/>
            <xs:element ref="Phone" minOccurs="0"/>
            <xs:element ref="AllowSoap" minOccurs="0"/>
            <xs:element ref="TimeZone" minOccurs="0"/>
            <xs:element ref="Scope" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StudyEventDefinition" type="studyEventDefinitionBean"/>

    <xs:element name="EventName" type="xs:string"/>
    <xs:element name="EventDescription" type="xs:string"/>
    <xs:element name="Repeating" type="xs:boolean"/>
    <xs:element name="Category" type="xs:string"/>
    <xs:element name="EventType" type="xs:string"/>
    <xs:element name="Oid" type="xs:string"/>
    <xs:element name="MinDay" type="xs:int"/>
    <xs:element name="MaxDay" type="xs:int"/>
    <xs:element name="EmailDay" type="xs:int"/>
    <xs:element name="SchDay" type="xs:int"/>
    <xs:element name="UserEmailId" type="xs:int"/>
    <xs:element name="IsReference" type="xs:boolean"/>

    <xs:complexType name="studyEventDefinitionBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="EventName" minOccurs="0"/>
            <xs:element ref="EventDescription" minOccurs="0"/>
            <xs:element ref="Repeating" minOccurs="0"/>
            <xs:element ref="Category" minOccurs="0"/>
            <xs:element ref="EventType" minOccurs="0"/>
            <xs:element ref="Oid" minOccurs="0"/>
            <xs:element ref="MinDay" minOccurs="0"/>
            <xs:element ref="MaxDay" minOccurs="0"/>
            <xs:element ref="EmailDay" minOccurs="0"/>
            <xs:element ref="SchDay" minOccurs="0"/>
            <xs:element ref="UserEmailId" minOccurs="0"/>
            <xs:element ref="IsReference" minOccurs="0"/>
            <xs:element ref="EventDefinitionCrf" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EventDefinitionCrf" type="eventDefinitionCRFBean"/>

    <xs:element name="CrfName" type="xs:string"/>
    <xs:element name="DefaultVersion" type="xs:string"/>
    <xs:element name="HideCrf" type="xs:boolean"/>
    <xs:element name="Required" type="xs:boolean"/>
    <xs:element name="PasswordRequired" type="xs:boolean"/>
    <xs:element name="AcceptNewCrfVersions" type="xs:boolean"/>
    <xs:element name="EvaluatedCrf" type="xs:boolean"/>
    <xs:element name="DoubleDataEntry" type="xs:boolean"/>
    <xs:element name="SourceDataVerification" type="xs:string"/>
    <xs:element name="TabbingMode" type="xs:string"/>
    <xs:element name="Ordinal" type="xs:int"/>
    <xs:element name="StudyId" type="xs:int"/>
    <xs:element name="EmailWhen" type="xs:string"/>
    <xs:element name="ParentId" type="xs:int"/>
    <xs:element name="AvailableVersionIds" type="xs:string"/>

    <xs:complexType name="eventDefinitionCRFBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="EventName" minOccurs="0"/>
            <xs:element ref="CrfName" minOccurs="0"/>
            <xs:element ref="DefaultVersion" minOccurs="0"/>
            <xs:element ref="HideCrf" minOccurs="0"/>
            <xs:element ref="Required" minOccurs="0"/>
            <xs:element ref="PasswordRequired" minOccurs="0"/>
            <xs:element ref="AcceptNewCrfVersions" minOccurs="0"/>
            <xs:element ref="EvaluatedCrf" minOccurs="0"/>
            <xs:element ref="DoubleDataEntry" minOccurs="0"/>
            <xs:element ref="SourceDataVerification" minOccurs="0"/>
            <xs:element ref="TabbingMode" minOccurs="0"/>
            <xs:element ref="Ordinal" minOccurs="0"/>
            <xs:element ref="StudyId" minOccurs="0"/>
            <xs:element ref="EmailWhen" minOccurs="0"/>
            <xs:element ref="Email" minOccurs="0"/>
            <xs:element ref="ParentId" minOccurs="0"/>
            <xs:element ref="AvailableVersionIds" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CrfVersion" type="crfVersionBean"/>

    <xs:element name="CrfId" type="xs:int"/>
    <xs:element name="Version" type="xs:string"/>

    <xs:complexType name="crfVersionBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="CrfId" minOccurs="0"/>
            <xs:element ref="CrfName" minOccurs="0"/>
            <xs:element ref="Version" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StudyBean" type="studyBean"/>

    <xs:element name="Origin" type="xs:string"/>
    <xs:element name="BriefTitle" type="xs:string"/>
    <xs:element name="ProtocolId" type="xs:string"/>
    <xs:element name="ProtocolType" type="xs:string"/>
    <xs:element name="SecondaryIDs" type="xs:string"/>
    <xs:element name="OfficialTitle" type="xs:string"/>
    <xs:element name="Summary" type="xs:string"/>
    <xs:element name="DetailedDescription" type="xs:string"/>
    <xs:element name="PrincipalInvestigator" type="xs:string"/>
    <xs:element name="Sponsor" type="xs:string"/>
    <xs:element name="Collaborators" type="xs:string"/>
    <xs:element name="Phase" type="xs:string"/>
    <xs:element name="TotalEnrollment" type="xs:string"/>
    <xs:element name="StartDate" type="xs:string" nillable="true"/>
    <xs:element name="EndDate" type="xs:string" nillable="true"/>
    <xs:element name="ApprovalDate" type="xs:string" nillable="true"/>
    <xs:element name="Purpose" type="xs:string"/>
    <xs:element name="Allocation" type="xs:string"/>
    <xs:element name="Masking" type="xs:string"/>
    <xs:element name="Control" type="xs:string"/>
    <xs:element name="InterventionModel" type="xs:string"/>
    <xs:element name="Classification" type="xs:string"/>
    <xs:element name="Duration" type="xs:string"/>
    <xs:element name="Selection" type="xs:string"/>
    <xs:element name="Timing" type="xs:string"/>

    <xs:complexType name="studyBean">
        <xs:sequence>
            <xs:element ref="Id" minOccurs="0"/>
            <xs:element ref="Status" minOccurs="0"/>
            <xs:element ref="StudyName" minOccurs="0"/>
            <xs:element ref="Origin" minOccurs="0"/>
            <xs:element ref="BriefTitle" minOccurs="0"/>
            <xs:element ref="OfficialTitle" minOccurs="0"/>
            <xs:element ref="ProtocolId" minOccurs="0"/>
            <xs:element ref="SecondaryIDs" minOccurs="0"/>
            <xs:element ref="Summary" minOccurs="0"/>
            <xs:element ref="StartDate" minOccurs="0"/>
            <xs:element ref="EndDate" minOccurs="0"/>
            <xs:element ref="PrincipalInvestigator" minOccurs="0"/>
            <xs:element ref="ProtocolType" minOccurs="0"/>
            <xs:element ref="DetailedDescription" minOccurs="0"/>
            <xs:element ref="ApprovalDate" minOccurs="0"/>
            <xs:element ref="Phase" minOccurs="0"/>
            <xs:element ref="TotalEnrollment" minOccurs="0"/>
            <xs:element ref="Sponsor" minOccurs="0"/>
            <xs:element ref="Collaborators" minOccurs="0"/>
            <xs:element ref="Purpose" minOccurs="0"/>
            <xs:element ref="Allocation" minOccurs="0"/>
            <xs:element ref="Masking" minOccurs="0"/>
            <xs:element ref="Control" minOccurs="0"/>
            <xs:element ref="InterventionModel" minOccurs="0"/>
            <xs:element ref="Classification" minOccurs="0"/>
            <xs:element ref="Duration" minOccurs="0"/>
            <xs:element ref="Selection" minOccurs="0"/>
            <xs:element ref="Timing" minOccurs="0"/>
            <xs:element ref="Oid" minOccurs="0"/>
            <xs:element ref="Parameters" minOccurs="0"/>
            <xs:element ref="Features" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Features" type="features"/>

    <xs:element name="CRFAnnotation" type="xs:string"/>
    <xs:element name="DynamicGroup" type="xs:string"/>
    <xs:element name="CalendaredVisits" type="xs:string"/>
    <xs:element name="InteractiveDashboards" type="xs:string"/>
    <xs:element name="ItemLevelSDV" type="xs:string"/>
    <xs:element name="SubjectCasebookInPDF" type="xs:string"/>
    <xs:element name="CRFMasking" type="xs:string"/>
    <xs:element name="SASExtracts" type="xs:string"/>
    <xs:element name="StudyEvaluator" type="xs:string"/>
    <xs:element name="Randomization" type="xs:string"/>
    <xs:element name="MedicalCoding" type="xs:string"/>

    <xs:complexType name="features">
        <xs:sequence>
            <xs:element ref="CRFAnnotation" minOccurs="0"/>
            <xs:element ref="DynamicGroup" minOccurs="0"/>
            <xs:element ref="CalendaredVisits" minOccurs="0"/>
            <xs:element ref="InteractiveDashboards" minOccurs="0"/>
            <xs:element ref="ItemLevelSDV" minOccurs="0"/>
            <xs:element ref="SubjectCasebookInPDF" minOccurs="0"/>
            <xs:element ref="CRFMasking" minOccurs="0"/>
            <xs:element ref="SASExtracts" minOccurs="0"/>
            <xs:element ref="StudyEvaluator" minOccurs="0"/>
            <xs:element ref="Randomization" minOccurs="0"/>
            <xs:element ref="MedicalCoding" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Parameters" type="parameters"/>

    <xs:complexType name="parameters">
        <xs:sequence>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

